SERVICE_NAME=[This service name]
APP_ENV=[dev|prod|local|devcontainer]
LOG_LEVEL=[DEBUG|INFO|WARNING]
LOG_FORMAT=[console|json]

HOST=0.0.0.0
PORT=80

DB_URL=[driver]://[username]:[password]@[hostname or IP]:[port]/[database]

# FLASK SPECIFIC
FLASK_DEBUG=True
